body {
  /* font-family: "Poppins", sans-serif !important; */
  font-family: "Lato", sans-serif!important;
}

a {
  text-decoration: none;
}
/* Header ************************* Section start */
header{
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.navbar-expand-lg{
  background-color: #fff;
}

.navbar-collapse{
  justify-content: space-between;
}

.logo-350 {
  width: 150px;
  /* height: 73px; */
}

@media (max-width: 768px) {
  .modal-backdrop {
    position: relative;
  }
}
.navbar-toggler {
  background-color: #e7e7e7;
}

.call-navbar p {
  color: #fff;
}

.dropdown-menu {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: none;
  border-radius: 0;
  padding: 0.7em;
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li .dropdown-item {
  color: #154285;
  font-size: 14px;
  padding: 0.5em 1em;
}

.dropdown-menu li .dropdown-item:hover {
  background-color: #f1f1f1;
}

.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
  color: #516beb;
}

.dropdown-menu li:first-child a:hover {
  background-color: #f1f1f1;
}

@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }
}

.dropdown-menu {
  border-radius: 0;
  border: none;
  padding: 0.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li a {
  color: gray;
  padding: 0.5em 1em;
}

.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 14px;
  color: #144383;
  border-bottom: 2px solid #144383;
}

@media screen and (min-width: 993px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }

  .nav-desk-1 {
    display: flex;
    gap: 20px;
  }
}

.call-navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.call-navbar a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}


.top_header_bar,.content {
  position: absolute;
  width: 100%;
  z-index: 1100;
  /* border-bottom: 1px solid #dbdbdb5c; */
  background-color: #144383;
}

.mega_menu_bar,.content {
  position: absolute;
  width: 100%;
  z-index: 1100;
  /* border-bottom: 1px solid #dbdbdb5c; */
  top: 50px;
}

@media (max-width: 1100px) {
  .logo-350 {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .nav-desk-1 {
    display: flex;
    gap: 20px;
  }
}

/* .navbar-collapse {
  justify-content: space-evenly;
} */

.mobile-logo {
  width: 149px;
}

.header-cl .navbar-nav a.nav-link {
  color: #144383;
  font-size: 14px;
  border-right: 1px solid #d4d4d4;
}

.header-cl .navbar-nav a.nav-link:hover {
  color: #c2171d;
  background-color: #e6e6e6cb;
  border-radius: 4px;
  border-left: 1px solid #c2171d;
}

#home_one_banner {
  background-image: url(./assets/img/bg_header.png);
  padding: 370px 0 280px 0;
  position: relative;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header ************************* Section end */

/* api form  ************************* Section start */

li {
  list-style: none;
}

.number input {
  width: 50px;
  text-align: center;
}

.dropdown-toggle::after {
  display: contents;
}

.minus-select {
  width: 150px;
  border: 1px solid #000;
  padding: 4px;
  border-radius: 4px;
}

.dropdown .btn {
  background-color: #fff;
  color: #000;
  height: 50px;
}

.banner-img1 .container h1 {
  color: #000000;
  background-color: #ffffffbf;
  border-radius: 4px;
  padding-left: 10px;
}

.travel-card {
  box-shadow: 0px 0px 0px 0px;
  padding: 10px;
}

.travel-btns {
  background-color: #144383;
  color: #fff;
  padding: 8px 10px 5px 10px;
  /* font-size: 12px; */
  /* position: relative; */
  /* top: 50px; */
}

.travel-btn {
  display: flex;
  justify-content: space-between;
}

.travel-coupon {
  text-align: initial;
}

.dropdown-main {
  width: 300px;
  border-radius: 4px;
}

.minus-plus {
  display: flex;
  justify-content: space-around;
  position: relative;
  left: -18px;
}

.minus-class {
  display: flex;
  justify-content: space-evenly;
}

.number,
input {
  width: 50px;
}

.form-check-input:checked {
  background-color: #144383;
  border-color: #144383;
}

.total_adults {
  border: 1px;
  background-color: #f8f9fa;
  width: 15px;
}

.bundle_save {
  background-color: #7799c7;
  margin: 10px;
  border-radius: 12px;
}

.banner-img1 .container span {
  font-size: 14px;
}
.icons_search {
  position: absolute;
  margin-top: 16px;
  z-index: 1000;
}

.icons_search_input {
  padding-left: 40px !important;
}

.flight_icons_plane {
  padding: 10px;
  /* border: 1px solid #144383; */
  color: #144383;
  background-color: rgb(232, 242, 255);
  font-weight: 500;
  border-radius: 19px;
  font-size: 18px !important;
  width: 118px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.flight_icons_plane_h5 {
  padding: 10px;
  /* border: 1px solid #144383; */
  color: #144383;
  /* background-color: rgb(232, 242, 255); */
  font-weight: 500;
  border-radius: 19px;
  font-size: 18px !important;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
button {
  display: inline-block;
  margin: 5px 5px 0 0;
  padding: 10px 30px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: #144383;
  color: #fff;
  text-decoration: none;
  font-family: arial, verdana, sans-serif;
  font-size: 14px;
  font-weight: 100;
}

input {
  width: 100%;
  margin: 0 0 5px 0;
  padding: 2px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 13px !important;
  box-sizing: border-box;
  /* -webkit-appearance: none; */
}

.form-control,
input {
  border-radius: 12px !important;
  font-size: 14px;
}

input:focus {
  outline: 0px;
  border-color: rgb(0, 104, 239);
  box-shadow: rgba(0, 104, 239, 0.16) 0px 1px 4px;
}

.mbsc-page {
  padding: 1em;
}

.mbsc-calendar-cell > div:nth-child(1) {
  display: none !important;
}

.testraveler,.countMain {
  border: 1px solid #eceff1 !important;
  margin-top: 0px;
  text-align: left;
  padding-left: 38px;
}

.caption {
  /* padding: 10px; */
  background-color: #ffffff;
  color: #000;
  border-radius: 24px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media (min-width: 1100px) {
  .caption {
    position: relative;
    top: -90px;
  }

  .main-banner-img {
    background-image: url("/assets/banner-2-img.png");
    height: auto;
    max-height: 300px;
    margin-bottom: 220px;
    padding-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .why {
    width: 15%;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .caption {
    margin-top: 30px;
  }
}

.form-control {
  max-width: 420px;
  height: 50px;
}

.form-group .btn-submit {
  color: #fff;
  font-weight: 500;
  background-color: #144383;
  font-size: 18px;
  margin: 0px;
}

.btn {
  border-width: 0;
}
.btn:hover {
  border-width: 0;
}
.form-group {
  margin-bottom: 20px;
}

.control-label {
  display: block;
}

.-wrapper,
.-wrapper2 {
  position: relative;
  float: left;
  width: 100%;
}
.-wrapper input,
.-wrapper2 input {
  width: 100%;
}

.-results,
.-results2 {
  position: absolute;
  background: white;
  z-index: 9999;
  top: 100%;
  left: 0;
  font-size: 13px;
  /*border: solid 1px #ddd;*/
  border-top-width: 0;
  border-bottom-color: #ccc;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.-result,
.-result2 {
  padding: 12px 15px;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.-result:last-child,
.-result2:last-child {
  border-bottom-width: 0;
}

.-location {
  opacity: 0.8;
  font-size: smaller;
}

.-results[data-highlight="0"] > :nth-child(1) {
  color: white;
  background: #144383;
  border-bottom-color: #144383;
  outline: solid 1px #144383;
}

.-results2[data-highlight="0"] > :nth-child(1) {
  color: white;
  background: #144383;
  border-bottom-color: #144383;
  outline: solid 1px #144383;
}

.-results[data-highlight="1"] > :nth-child(2),
.-results[data-highlight="2"] > :nth-child(3),
.-results[data-highlight="3"] > :nth-child(4),
.-results[data-highlight="4"] > :nth-child(5) {
  color: white;
  background: #144383;
  border-bottom-color: #144383;
  outline: solid 1px #144383;
}

.-results2[data-highlight="1"] > :nth-child(2),
.-results2[data-highlight="2"] > :nth-child(3),
.-results2[data-highlight="3"] > :nth-child(4),
.-results2[data-highlight="4"] > :nth-child(5) {
  color: white;
  background: #144383;
  border-bottom-color: #144383;
  outline: solid 1px #144383;
}

.blink_me {
  animation: blinker 4s linear infinite;
  animation-delay: 8s;
  transition: 1s;
}
@keyframes blinker {
  50% {
    opacity: 0;
    /* background-color: #000;  */
  }
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* api form  ************************* Section end */


/* imagination  ************************* Section start */
.heading_left_area h2 span {
  display: inline-block;
  border-bottom: 1px solid #144383;
  padding-bottom: 10px;
}

.heading_left_area h3 span {
  display: inline-block;
  border-bottom: 1px solid #144383;
  padding-bottom: 10px;
}

@media only screen and (min-width: 1200px) {
  .top_deal_country {
    font-size: 16px!important;
  }
 
}

@media only screen and (max-width:768px){


  .top_deal_country {
    font-size: 12px!important;
    z-index: 999;
    border-bottom: 1px solid;
}

.top_deal_country_offers span > a {
  font-size:15px!important;
}

.modal_close_btn {
  position: relative;
  left: 90%!important;
  bottom: 10px!important;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-content {
  background: linear-gradient(to bottom, #ededed 50%, #ffffff 50%)!important;
}

}


.top_deal_country {
    position: absolute;
    font-size: 22px;
    z-index: 999;
    /* top: 10px; */
    font-weight: 600;
    /* border-top: 1px solid #FFC107; */
    background-color: #FFC107;
    /* border-bottom: 1px solid #FFC107;*/
  }

  .top_deal_country::before {
    content: " ";
    position: absolute;
    border-left: 16px solid rgb(250, 194, 46);
    border-top: 0px solid transparent;
    border-bottom: 12px solid transparent;
    width: 0px;
    display: block;
    height: 0px;
    top: 0px;
    right: -15px;
}

.top_deal_country > a{
  color: #000 !important;
}

  .top_deal_country::after {
    content: " ";
    position: absolute;
    border-left: 16px solid rgb(250, 194, 46);
    border-top: 12px solid transparent;
    border-bottom: 0px solid transparent;
    width: 0px;
    height: 0px;
    display: block;
    bottom: 0px;
    right: -15px;
}
 
  .top_deal_country_offers {
    position: absolute;
    font-size: 22px;
    z-index: 999;
    bottom: 20px;
  } 


.top_deal_country_offers span > a{
  font-size: 24px;
}
/* [1] The container */
.top_deal_country_img {
    overflow: hidden;
    position: relative;
  }
  
  .top_deal_country_img img {
    transition: transform 0.9s ease;
    filter: brightness(0.9);
  }
  
  .top_deal_country_img:hover img {
    transform: scale(1.1);
    /* filter: grayscale(0); */
    filter: brightness(1);
  }

/* imagination  ************************* Section end */


    /* Explore  ************************* Section start */

    
    .accordion-button{
      background-color: #144383;
      padding: 5px 30px 5px 30px;
      color: #fff;
      border-radius: 4px;
      display: block;
    }
    
    .accordion-button:hover{
       background-color: #c62021;
       color: #fff;
       border-radius: 20px;
    }
    
    
    .accordion-button::after {
       height: auto;
    
    }
    
    
    .card-main{
      position: relative;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 10px;
    }
    
    .card-para{
      position: absolute;
      bottom: 0px;
    }
    
    .discount_tab {
    position: absolute;
    left: 5px;
    top: 5px;
    background: #ffffff;
    box-shadow: 4px 5px 12px rgb(0 0 0 / 10%);
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    color: #144383;
    font-size: 16px;
    font-weight: 500;
    }
    
    .card-section{
      border: 1px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    
    
    
    .review_rating {
      color: #144383;
      text-decoration: none;
    }
    
    /* Explore  ************************* Section end */
    /* newsletter section ************************* Section start */
    .newsletter-section{
      background-color: #f3f6fd;
    }
    /* newsletter section ************************* Section end */

    /* Footer Section start */
    .footer_heading_main h5 {
      border-bottom: 1px solid #144383;
      display: inline-flex;
      padding-bottom: 5px;
      font-weight: 500;
  }

  .footer_inquery_area {
    padding-top: 5px;
    border-left: 2px solid #144383;
    margin-top: 25px;
    padding-left: 9px;
}

.footer_inquery_area h5 {
  font-size: 16px;
  font-weight: 500;
}

.footer_inquery_area h3 a{
  color: #144383;
  font-size: 18px
}

.footer_link_main ul li a {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  transition: .4s all ease-in-out;;
}

.footer_link_main ul li {
  padding-bottom: 15px;
}

.footer_link_main {
  padding-top: 20px;
}

.footer_link_main ul{
  padding: 0px;
}
.soical_icon_footer{
  padding: 0px;
}

.owl-item {
  margin-bottom: 1px;
}
    /* Footer Section end */
  







    /*mega menu*/

.mega-menu {
  left: 0;
  right: 0;
  padding: 15px;
  display:none;
  padding-top: 0;
  min-height: 100%;

}
h4.row.mega-title {
  color: #eee;
  margin-top: 0px;
  font-size: 14px;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  padding-top: 15px;
  background-color: #365670
  }
 .mega-menu ul li a {
  line-height: 25px;
  font-size: 90%;
  display: block;
}
ul.stander li a {
    padding: 3px 0px;
}

ul.description li {
    padding-bottom: 12px;
    line-height: 8px;
}

ul.description li span {
    color: #ccc;
    font-size: 85%;
}
a.view-more{
  border-radius: 1px;
  margin-top:15px;
  background-color: #009FE1;
  padding: 2px 10px !important;
  line-height: 21px !important;
  display: inline-block !important;
}
a.view-more:hover{
	color:#fff;
	background:#0DADEF;
}
ul.icon-des li a i {
    color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    background-color: #009FE1;
    line-height: 35px !important;
}

ul.icon-des li {
    width: 100%;
    display: table;
    margin-bottom: 11px;
}

.holiday_theme p{
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}

.holiday_theme img{
  width: 147px!important;
  height: 139px;
}


.holiday_theme_section p{
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
}

.holiday_theme_section img{
  /* width: 147px!important;
  height: 139px; */
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60% !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.holiday_theme_section p > small{
  color: #858585;
  display: block;
}

.dropdown-main{
  z-index: 9999;
}

.modal_close_btn{
  position: relative;
  left: 99%;
  bottom: 25px;
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.modal-content{
  background: linear-gradient(to left, #ffffff 50%, #ededed 50%);
}


 /* india page  ************************* Section start */

 .tour-price {
  display: flex;
  align-items: baseline;
  margin-bottom: 15px;
}


.tour-price h3 {
  font-size: 28px;
  color: #144383;
  line-height: 1.25;
  font-weight: 700;
  letter-spacing: .75px;
  margin-bottom: 0;
}

/* india scroll Itinerary page  ************************* Section start */

.scrollspy-example {
  height: 200px;
  margin-top: 0.5rem;
  overflow: auto;
}


.accordions-button{
    padding: 5px 30px 10px 10px!important;
    color: #000!important;
    display: block!important;
    text-decoration: none;
    border-bottom: 1px solid #144383!important;
}




.iframe{
border-radius: 10px;
}

/* @media(min-width:1200px){
.iframe{
   /* width:1140px; 
   width: 856px;
}
} */

@media(max-width:768px){
.iframe{
   width:370px;
}
}

/* FAQ start */
details {
font-size: 1rem;
background: #F6FAFF;
border-radius: 8px;
border: 1px solid #C3DEFF;
transition: border-color 0.3s ease-in-out;
}

details:hover {
border-color: #A4A1FF;
}

summary {
user-select: none;
cursor: pointer;
font-weight: 600;
display: flex!important;
align-items: center;
padding: 1em;
}

summary::-webkit-details-marker {
display: none;
}

.faq-title {
color: #1C2035;
flex-grow: 1;
opacity: 0.65;
transition: opacity 250ms ease-in-out;
}

summary:hover .faq-title {
opacity: 1;
}



.faq-content {
color: #303651;
padding: 0.2em 1em 1em 1em;
font-weight: 300;
line-height: 1.5;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s ease-out;
}

details[open] .faq-content {
max-height: 1000px;
}

.expand-icon {
margin-left: auto;
transition: transform 150ms ease-out;
}

details[open] .icon-tabler-circle-plus {
display: none;
}

details:not([open]) .icon-tabler-circle-minus {
display: none;
}

summary h4{
font-size: 16px;
}


.faq-container .container > h3, h4 {
font-size: 16px;
margin-bottom: 15px;
margin-top: 10px;
font-weight: 600;
}


/* FAQ end */

/* banner section start */
.section-main-bg{
  background-image: linear-gradient(270deg, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0.3) 101.02%), url(https://demo-egenslab.b-cdn.net/html/triprex/preview/assets/img/innerpage/inner-banner-bg.png);
}


.banner-section .banner-section-content{
height: 300px;
position: relative;
top: 50%;
left: 50%;
transform: translate(-50%,40%);
text-align: center;
color: #fff;
}

.banner-section-content h6 > a{
  color: #ce0018;
  text-decoration: none;
}
/* banner section end */
/* india scroll Itinerary page  ************************* Section end */
/* india page  ************************* Section end */

.honeymoon-banner{
      /* border-bottom: 10px solid #f3f3f3; */
      border-radius: 10px;
}

.equal{
  width:100%;
  height:400px;
  object-fit:cover;
  object-position:50% 50%;
}

footer{
  background-color: aliceblue;
}